asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.7
colorama==0.4.6
Django>=5.1,<6.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-yasg==1.21.15
et_xmlfile==2.0.0
idna==3.18
inflection==0.5.1
mssql-django==1.7.2
openpyxl==3.1.5
packaging==26.2
pillow>=9.2.0,<11.0
PyJWT==2.13.0
pyodbc==5.3.0
python-dotenv==1.2.2
pytz==2026.2
PyYAML==6.0.3
qrcode==8.2
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.2
uritemplate==4.2.0
urllib3==2.7.0
whitenoise==6.12.0
xhtml2pdf==0.2.17
